{% extends "base.html" %}
{% load static %}

{% block title %}About Sam{% endblock %}

{% block page_title %}
    <h2>About me</h2>
{% endblock page_title %}

{% block page_content %}
    <div class="post-container">
        <p>
            I hold both a Bachelor's and a Master's degree in Electrical Engineering, specializing in meta-heuristic optimization techniques such as Genetic Algorithms and Particle Swarm Optimization. I’ve contributed to the field with one book chapter and several research papers published in scientific journals. You can explore my work on
            <a href="https://scholar.google.com/citations?user=4Y90en0AAAAJ&hl=en">Google Scholar</a> or
            <a href="https://www.researchgate.net/profile/Soheil-Dolatabadi">ResearchGate</a>. During my studies, I primarily worked with Matlab and Matlab/Simulink for programming.
            After graduating, I spent two years as an embedded engineer, developing industrial devices using microcontrollers (ARM and AVR) and coding them in C++.
        </p>

        <div class="paragraph-image">
            <img src="{% static 'img/elec1.png' %}" alt="Device 1" width="300">
            <img src="{% static 'img/elec2.png' %}" alt="Device 2" width="300">
        </div>

        <p>
            In 2018, I transitioned to programming full-time and started my journey in Python as a junior back-end developer and data scientist. I built and deployed machine learning models as APIs for the web. Today, I specialize in Python back-end development with a bit of DevOps to enhance the efficiency of my projects.
        </p>

        <p>
            I also work as a Python freelancer on Upwork (<a href="https://www.upwork.com/freelancers/~013e1a6daf843f5322">see my profile</a>), where I’ve earned the expert-vetted badge, placing me in the top 1% of freelancers due to my clients' high satisfaction.
        </p>
        <div class="paragraph-image">
            <img src="{% static 'img/upwork_screenshot.png' %}" alt="Upwork Profile Screenshot" width="700">
        </div>
        <br><br>
        <h3 id="my_clients">Some of my clients ...</h3>

        <table>
            <tbody>
                <tr>
                    <td><a href="https://www.3s-solar.swiss/"><img src="{% static 'img/3s_solar.png' %}" alt="3s_solar" width="200"><br>Swiss Solar Solutions</a></td>
                    <td>
                        Role: Senior Backend Engineer <br><br> Led the development and maintenance of multiple APIs using FastAPI, ensuring scalability and performance.
                        <br><br> * still active
                    </td>
                </tr>
                <tr>
                    <td><a href="https://gluu.org/"><img src="{% static 'img/gluu.png' %}" alt="Gluu" width="200"><br><br>Gluu</a></td>
                    <td>Role: Senior Backend Engineer <br><br> Collaborated with the backend team to implement new features and API endpoints, while writing comprehensive unit tests to ensure code quality.</td>
                </tr>
                <tr>
                    <td><a href="https://fastdatascience.com/"><img src="{% static 'img/fastds.png' %}" alt="Fast Data Science" width="200"><br>Fast Data Solutions</a></td>
                    <td>Role: Senior Backend Engineer <br><br> Built an automated pipeline to scrape websites and update databases based on predefined schedules, improving data accuracy and efficiency.</td>
                </tr>
                <tr>
                    <td><a href="https://www.chaibio.com/"><img src="{% static 'img/chai_bio.png' %}" alt="CHAI Bio" width="200"><br>CHAI Bio</a></td>
                    <td>Role: Mid-Senior Backend Engineer <br><br> Troubleshot and debugged the Julia-based codebase for qPCR machines, ensuring accurate and efficient operation.</td>
                </tr>
                <tr>
                    <td><a href="https://www.friendlycares.com/"><img src="{% static 'img/friendly.png' %}" alt="friendly" width="200"><br>FriendlyCares</a></td>
                    <td>Role: Mid-Senior Backend Engineer <br><br> Developed and deployed APIs to integrate OCR models on AWS, optimizing document processing workflows.</td>
                </tr>
            </tbody>
        </table>

    </div>
{% endblock page_content %}