{% extends "base.html" %}
{% block page_content %}
    <div class="post-container">
        <p><strong>Greetings!</strong></p>
        <p class="paragraph">I'm Soheil, which is the name of a star (you can read more about it on
            <a href="https://en.wikipedia.org/wiki/Lambda_Velorum">Wikipedia</a>),
            though I often go by Sam. I have about one to two years of experience in Data Science, and around five
            years of experience in Python and Backend development.
        <p class="paragraph">In my free time, I enjoy photography, especially landscapes.
            Feel free to explore my latest photos in my humble <a href="{% url 'photo_gallery_index' %}">Photo Gallery</a>.</p>
        <p class="paragraph">This website is powered by Django! (<a href="https://github.com/soheil-star01/myportfolio-django">Source code</a>)</p>

        <br>
        <br>
        <p><strong>What can I do...?!?</strong></p>
        <p>I can assist with developing Python-based backend systems or SDKs, whether you need to build from scratch or improve existing code. My expertise includes:</p>

        <ul style="line-height: 1.8;">
            <li><strong>API Development</strong>: Building high-performance APIs using FastAPI, Flask, and Django for scalable web applications.</li>
            <li><strong>Concurrency and Parallelism</strong>: Enhancing performance with Asyncio for asynchronous I/O, as well as multithreading and multiprocessing for concurrent execution.</li>
            <li><strong>Database Design and Optimization</strong>: Structuring databases to meet project needs and writing optimized queries using SQLAlchemy ORM.</li>
            <li><strong>Testing</strong>: Writing comprehensive unit, integration, and functional tests to ensure code reliability and proper system functionality.</li>
            <li><strong>CI/CD Pipelines</strong>: Implementing automation and continuous deployment using GitHub Actions, AWS ECS, EC2, and ECR for containerized applications.</li>
            <li><strong>Cloud and DevOps</strong>: Managing cloud infrastructure and services with AWS (EC2, ECS, S3, RDS), and deploying containerized applications using Docker and Docker-compose.</li>
            <li><strong>Performance Optimization</strong>: Profiling and optimizing Python code to enhance speed and memory efficiency.</li>
        </ul>
        <br>
        <p>You can check my current/previous clients <a href="{% url 'about_me' %}#my_clients">here</a>.</p>
        <br>
        <br>
        <h2>Latest blog post and photo</h2>
        <div class="latest-posts-row">
            <!-- Latest Blog Post -->
            <div class="latest-blog-post">
                {% if last_blog_post %}
                    <a href="{% url 'blog_detail' last_blog_post.pk %}" class="latest-blog-post-link">
                        <img src="{{ last_blog_post.thumbnail_image.url }}" alt="Thumbnail image" class="latest-post-image">
                        <h3>{{ last_blog_post.title }}</h3>
                    </a>
                {% else %}
                    <p>No blog posts available at the moment.</p>
                {% endif %}
            </div>

            <!-- Latest Photo -->
            <div class="latest-photo">
                {% if last_photo_gallery %}
                    <a href="{% url 'photo_gallery_detail' last_photo_gallery.pk %}">
                        <img src="{{ last_photo_gallery.thumbnail_image.url }}" alt="Gallery thumbnail" class="latest-photo-image">
                    </a>
                {% else %}
                    <p>No photos available at the moment.</p>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock page_content %}