{% extends "base.html" %}
{% block about_me %}
    <p>Greeting!</p>
    <p>My name is Soheil (name of a star. read more in <a href="https://en.wikipedia.org/wiki/Lambda_Velorum">Wiki!</a>)
        but I mostly go with Sam. I have around one/two years of experience in field of Data Science. And around 5 years
        of experience in Python programming and Backend programming. (more about me and my stacks here!)
    </p>
    <p>
    I do photography (mostly landscape) in my free time. feel free to check out my latest photos in the Photo Gallery.
    </p>
    <p>Website powered by Django!</p>
{% endblock about_me %}
{% block page_title %}
    <h2>Blog Posts</h2>
{% endblock page_title %}

{% block page_content %}
    {% block posts %}
        {% for post in posts %}
            <img src={{ post.thumbnail_image }}>
            <h3><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h3>
            <small>{{ post.date_posted }}</small>
            <p>{{ post.summarized_content | slice:":400" }}...</p>
        {% endfor %}
    {% endblock posts %}
{% endblock page_content %}