<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XKNG3TB7ER"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-XKNG3TB7ER');
    </script>

    <meta charset="utf-8">
    <title>{% block title %}Sam's Personal Website{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'my_app/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'photo_gallery/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/styles.css' %}">
    <meta name="description" content="Welcome to Soheil Dolatabadi's (Sam Dolat) personal website. Explore insights on software development, programming expertise, and innovative tech projects from a seasoned backend engineer with a passion for Python, FastAPI, and cloud solutions.">

</head>
<body>
    <div class="page-container">
    <h1>Sam's Personal Website</h1>
    <p style="line-height: 0.1; color: #e0e0e0">Senior Python programmer and backend developer</p>
    <br>
    <div class="home-bar">
        <a href="{% url 'main_index' %}">Home</a>
        <a href="{% url 'blog_index' %}">Blog</a>
        <a href="{% url 'photo_gallery_index' %}">Photo Gallery</a>
        <a href="{% url 'about_me' %}">About Me</a>
        <a href="{% url 'contact_me' %}">Contact Me</a>
    </div>
    <hr>
    {% block about_me %}{% endblock about_me %}
    {% block page_title %}{% endblock page_title %}
    {% block page_content %}{% endblock page_content %}
    <p></p>
</div>
</body>
</html>