{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sam's Personal Website</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/default.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'my_app/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'photo_gallery/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/styles.css' %}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>
<body>
<h1>Sam's Personal Website</h1>
<div style="display: flex; gap: 10px;">
    <a href="{% url 'main_index' %}">Home</a>
    <a href="{% url 'blog_index' %}">Blog</a>
    <a href="{% url 'photo_gallery_index' %}">Photo Gallery</a>
    <a href="{% url 'about_me' %}">About Me</a>
    <a href="{% url 'contact_me' %}">Contact Me</a>
</div>
<hr>
{% block about_me %}{% endblock about_me %}
{% block page_title %}{% endblock page_title %}
{% block page_content %}{% endblock page_content %}
<p></p>
</body>
</html>